<%= render "customers/customers/header" %>
<div class="container">
  <div class="row justify-content-center" style=" padding-top: 100px; font-weight: bold; font-size: 45px;">
    お問い合わせ
  </div>
  <div class="row justify-content-center" style="font-weight: bold; font-size: 45px;">
    ありがとうございました。
  </div>
</div>
<%= render "customers/customers/footer" %>
