@charset "UTF-8";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

#back {
  position: fixed;
  right: 5px;
  bottom: 10px;
}

#back i {
  width: 50px;
  font-size: 40px;
  color: #FA601A;
}

#back i:hover {
  opacity: 0.5;
}

.estate {
  word-break: break-all;
}

.sticky-top {
  background-color: white;
  position: fixed;
}

.search {
  background-color: #18003E;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 60px;
}

.search:hover {
  transform: scale(1.1, 1.1);
}

.searches {
  background-color: #18003E;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  padding: 1px 30px;
}

.searches:hover {
  transform: scale(1.1, 1.1);
}

.navbar-brand:hover {
  opacity: 0.5;
}

.card-img-top:hover {
  opacity: 0.5;
}

.type-shine {
  font-size: 60px;
  position: relative;
  overflow: hidden;
}

.nav-item {
  text-align: right;
  list-style: none;
}

.image-top:hover {
  opacity: 0.5;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

.navbar-dark .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

.edit {
  background-color: #18003E;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 40px;
}

footer {
  margin-top: auto;
}

.btn:hover {
  opacity: 0.5;
}

.name {
  word-break: break-all;
  overflow-wrap: break-word;
  width: 50%;
}

.address {
  word-break: break-all;
  overflow-wrap: break-word;
  width: 50%;
}

.carousel-control-prev {
  width: 24px;
  height: 24px;
  padding-top: 330px;
}

.carousel-control-next {
  width: 24px;
  height: 24px;
  padding-top: 330px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#q_price_gteq {
  width: 120px;
}

#q_price_lteq {
  width: 120px;
}

.profile:hover {
  opacity: 0.7;
}

.profile_image {
  border-radius: 60%;
}

.modal-edit {
  background-color: #18003E;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 3px 25px;
}

.search_modal {
  padding: 15px 60px;
  background-color: #18003E;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

.modal-calendar-submit {
  background-color: #18003E;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  padding: 3px 30px;
}

.modal-estate-submit {
  background-color: #18003E;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 3px 40px;
}

.modal-estate-submit:hover {
  transform: scale(1.1, 1.1);
}

.image-background:hover {
  opacity: 0.3;
}

.image-floor:hover {
  opacity: 0.3;
}

.a-image:hover {
  opacity: 0.3;
}

.b-image:hover {
  opacity: 0.3;
}

.c-image:hover {
  opacity: 0.3;
}

.d-image:hover {
  opacity: 0.3;
}

.e-image:hover {
  opacity: 0.3;
}

.f-image:hover {
  opacity: 0.3;
}

.g-image:hover {
  opacity: 0.3;
}

.h-image:hover {
  opacity: 0.3;
}

.i-image:hover {
  opacity: 0.3;
}

.j-image:hover {
  opacity: 0.3;
}

.k-image:hover {
  opacity: 0.3;
}

.l-image:hover {
  opacity: 0.3;
}