/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.sticky-top {
  background-color: white;
  position: fixed;
}

.search {
  background-color: #18003E;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 60px;
}

.search:hover {
  transform: scale(1.1, 1.1);
}

.searches {
  background-color: #18003E;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  padding: 1px 30px;
}

.searches:hover {
  transform: scale(1.1, 1.1);
}

.navbar-brand:hover {
  opacity: 0.5;
}

.card-img-top:hover {
  opacity: 0.5;
}

.type-shine {
  font-size: 60px;
  position: relative;
  overflow: hidden;
}

.nav-item {
  text-align: right;
  list-style: none;
}

.image-top:hover {
  opacity: 0.5;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.navbar-dark .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.edit {
  background-color: #18003E;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 40px;
}

footer {
  margin-top: auto;
}

.btn:hover {
  opacity: 0.5;
}